html,body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background: gray;
}

.containertop {
    background-color: dimgray;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 150px;
    justify-content: center;

}

@media only screen and (max-width: 1400px){
    .navimg{
        height: 75px;
    }
}



@media only screen and (max-width: 1400px){
    .containertop{
        height: 75px
    }
}

@media only screen and (max-width: 800px){
    .containertop{
        height: 150px;
        display: inline;
      }
}

@media only screen and (max-width: 800px){
    .Left{
        display: flex;
        justify-content: center;
      }
}



.navbar{
    display: flex;
    flex-direction: row-reverse;

}

@media only screen and (max-width: 800px){
    .navbar{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
 
    }
}

.title{
    display: block;
    color: white;
    font-family: Impact;
    text-decoration: none;
    font-size: 35px;
    padding: 50px 50px;
}

@media only screen and (max-width: 1400px){
    .title{
        padding: 25px 25px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 800px){
    .title{
        padding: 5px 5px;
        font-size: 20px;
    }
}

  a{
    display: block;
    color: white;
    font-family: Impact;
    text-decoration: none;
    font-size: 35px;
    padding: 50px 50px;
}

a:hover {
    color: black;
}

.mainbody{
    margin-top: 150px;
    margin-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 1400px){
    .mainbody{
        margin-top: 75px;
    }
}

@media only screen and (max-width: 800px){
    .mainbody{
        margin-top: 150px;
    }
}


h1{
    font-size: 50px;
    text-align: center;
    color: black;
    background: white;
    font-family: impact; 

}

@media only screen and (max-width: 1400px){
    h1{
        font-size: 30px;
    }
}

@media only screen and (max-width: 800px){
    h1{
        font-size: 20px;
    }
}

.slogan{
    font-family: Impact;
}

p {
    font-size: 40px;
    text-align: center;
    margin: 25px 10%;

}

#Red{
    color: red;
    font-size: 50px;
}

@media only screen and (max-width: 1400px){
    p, #Red{
        font-size: 30px;
    }
}

@media only screen and (max-width: 800px){
    p, #Red{
        font-size: 20px;
    }
}

summary{
    font-size: 40px;
    text-align: center;

}

.containerfooter{
    background-color: dimgray;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    


}


.navbar2{
    display: flex;
    flex-direction: row;
}

.links{
    display: flex;
    flex-direction: row;
    
}

.title2{
    display: block;
    color: white;
    font-family: Impact;
    text-decoration: none;
    font-size: 25px;
    padding: 20px 50px;

}

@media only screen and (max-width: 800px){
    .title2{
        padding: 10px 25px;
        font-size: 20px;
    }
}




