html,body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background: gray;
}

.containertop {
    background-color: dimgray;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    height: 150px;
    justify-content: center;

}

@media only screen and (max-width: 1400px){
    .navimg{
        height: 75px;
    }
}



@media only screen and (max-width: 1400px){
    .containertop{
        height: 75px
    }
}

@media only screen and (max-width: 800px){
    .containertop{
        height: 150px;
        display: inline;
      }
}

@media only screen and (max-width: 800px){
    .Left{
        display: flex;
        justify-content: center;
      }
}

.mainbody{
    margin-top: 150px;
    margin-bottom: 100px;
   
}

@media only screen and (max-width: 1400px){
    .mainbody{
        margin-top: 75px;
    }
}

@media only screen and (max-width: 800px){
    .mainbody{
        margin-top: 150px;
    }
}



.navbar{
    display: flex;
    flex-direction: row-reverse;

}

@media only screen and (max-width: 800px){
    .navbar{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
 
    }
}

.title{
    display: block;
    color: white;
    font-family: Impact;
    text-decoration: none;
    font-size: 35px;
    padding: 50px 50px;
}

@media only screen and (max-width: 1400px){
    .title{
        padding: 25px 25px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 800px){
    .title{
        padding: 5px 5px;
        font-size: 20px;
    }
}

a:hover{
    color: black;
}

.header{
    font-size: 50px;
    text-align: center;
    font-family: Impact;
    background-color: white;
    color: black;
}

@media only screen and (max-width: 1400px){
    .header{
        font-size: 30px;
    }
}

@media only screen and (max-width: 800px){
    .header{
        font-size: 20px;
    }
}

.main{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin: auto 20%;
}

.item{
    border-radius: 5px;
    background-color: dimgray;
    padding: 20px;
    margin: 20px;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}


@media only screen and (max-width: 1400px){
    .main{
        margin: auto 10%;
    }
}

@media only screen and (max-width: 900px){
    .main{
        display: flex;
        flex-direction: column;
        margin: auto 10%;
     }
}

@media only screen and (max-width: 900px){
    .item{
        width: 90%;
    }
}





h2{
    font-size: 35px;
}

h3{
    font-size: 25px;
}

.item div{
    font-size: 25px;
}


.containerfooter{
    background-color: dimgray;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.navbar2{
    display: flex;
    flex-direction: row;
}

.links{
    display: flex;
    flex-direction: row;
    
}

.title2{
    display: block;
    color: white;
    font-family: Impact;
    text-decoration: none;
    font-size: 25px;
    padding: 20px 50px;
}

@media only screen and (max-width: 800px){
    .title2{
        padding: 10px 25px;
        font-size: 20px;
    }
}


